<div class="align-items-center justify-content-center row main-wrap">
    <table class="col-11 table table-striped table-dark my-4 text-light1" id="dataTable">
        <thead>
            <tr class="bg-main">
                {{#each header}}
                    <th scope="col">{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>